<h1 class='title is-size-1 has-text-centered'>
  <%= @entity.name %>
</h1>

<div class='level-left'>
  <p class='level-item'>
    <%= link_to "Back to Entities", :back, class: 'button is-info is-small' %>
  </p>
</div>